.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.button-top {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.button-top:hover {
    background-color: grey;
    color: white;
}

.superimposed {
    z-index: 1;
    position: absolute;
}

.table-container {
    display: table;
    padding: 5px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    border-spacing: 10px;
    padding: 5px;
    border-collapse: separate;
}